doctype html 
html
  head
    title mala23's portfolio
    link(rel = 'stylesheet', href = 'style/reset.css')
    link(rel = 'stylesheet', href = 'style/main.css')
    block head
    
  body
      block content
    footer
      detail
        p built by mala23

    #script(src = 'js/chat.js')
